.ok-btn {
    padding-right: 15px;
}
.Common_btn {
    height: 36px;
    width: 107px;
}
.label-name {
    font-family: Roboto;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: #5a5656;
}
.title-2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: #000;
}
::-webkit-scrollbar-track {
    margin-top: 0px !important;
}

.wait-time {
    color: #ffad00 !important;
}
